:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-white: #ffffff;
  --color-bg-blue: #008BFE;
}

body {
  font-family: 'Roboto', sans-serif;
}
